
html, body {
    color: white;
    background-color: #21232A;
} 

  
body {
    margin: 0;
    font-family: 'RobotoRegular', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

  
  
  @font-face {
    font-family: 'RobotoRegular';
    src: url('./fonts/Roboto-Regular.ttf');
  }
  
  @font-face {
    font-family: 'RobotoThin';
    src: url('./fonts/Roboto-Thin.ttf');
  }

button {
    font-size: 1.2rem;
    margin-right: 10px;
    padding: 10px;
}

input{
    color: grey;
    font-size: 1.3em;
    width: 100%;
}

h1{
  text-align: center;
}

h3{
  text-align: justify;
  text-justify: inter-word;
}